



body {
	background-color: #212121;
	text-align: center;
	font-family: 'poppins', sans-serif;
	color:white;

}

.shape{
	/*square*/
	width: 30%;
	background: #212121;
	padding-bottom: 30%;
	margin: 1.5%;
	float: left;
	text-align: auto;




}

#container {
margin: 0 auto;
max-width: 900px;

}
#stripe {
	background:white;
	color: black;
}

.hiddenAtStartup{
color: #212121;
}

.fade {
    opacity: 0;
    transition: .7;
